<h2>Shorten a link</h2>
<div class="box">
  <%= render "form" %>
</div>

<h2>Links</h2>
<div class="box">
  <table>
    <thead>
      <tr>
        <th>Short name</th>
        <th>Website url</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |l| %>
        <tr>
          <td><%= link_to l.name, link_path(l) %></td>
          <td><%= l.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
