.back a {
  color: #fff;
}

.data {
  margin-bottom: 20px;

  h4 {
    margin: 0;
  }

  p {
    word-break: break-all;
    background: #fff;
    margin-top: 5px;
    padding: 5px 8px;
  }
}

.callout {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
