<% if flash.any? %>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div id="flashes" class="<%= "flash-#{name}" %>">
        <%= content_tag :div, msg, class: "content" %>
      </div>
    <% end %>
  <% end %>
<% end %>
